In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
run_id_number = 3

In [3]:
# Set whether running the below data cleaning steps on input (training) or prediction (test)
# 1 ---- training:   run_type = 1
# 2 ---- prediction: run_type = 2 (or anything other than 1)

run_type = 1

In [4]:
if run_type == 1:
    df = pd.read_csv('datasets/train.csv')
else:
    df = pd.read_csv('datasets/test.csv')

df.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [5]:
# df['saleprice'].isna().sum()

In [6]:
# df = df.dropna(subset=['saleprice'])
# df.shape

In [7]:
df.shape

(2051, 81)

In [8]:
df.columns

Index(['Id', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area',
       'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF',
       'Heating', 'Heating QC', 'Central Air', 'Electrical', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC',
       'Fence', 'Misc Feature', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type',
       'SalePrice'],
      dtype='object')

In [9]:
df.columns = df.columns.str.lower().str.replace(" ","_")

In [10]:
df.isnull().sum().sort_values(ascending=False).head(30)

pool_qc           2042
misc_feature      1986
alley             1911
fence             1651
fireplace_qu      1000
lot_frontage       330
garage_finish      114
garage_qual        114
garage_yr_blt      114
garage_cond        114
garage_type        113
bsmt_exposure       58
bsmtfin_type_2      56
bsmtfin_type_1      55
bsmt_cond           55
bsmt_qual           55
mas_vnr_area        22
mas_vnr_type        22
bsmt_half_bath       2
bsmt_full_bath       2
garage_area          1
total_bsmt_sf        1
bsmt_unf_sf          1
bsmtfin_sf_2         1
bsmtfin_sf_1         1
garage_cars          1
mo_sold              0
sale_type            0
full_bath            0
half_bath            0
dtype: int64

### Dropping Unneeded columns

In [11]:
# df.drop(columns=['id','pid'], inplace=True)
df.drop(columns=['pid'], inplace=True)
df.head()

,id,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,utilities,...,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type,saleprice
0,109,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

### Converting ordinal data

In [12]:
#Fix Lot Shape col into ordinal data
# Reg	Regular	(3);        IR1	Slightly irregular (2);       IR2	Moderately Irregular (1);       IR3	Irregular (0)

lot_shape_key = {'Reg':3, 'IR1':2, 'IR2':1, 'IR3':0, np.nan:0}
df['lot_shape'] = df['lot_shape'].map(lot_shape_key)

df['lot_shape'].value_counts()

3    1295
2     692
1      55
0       9
Name: lot_shape, dtype: int64

In [13]:
#Fix Utilities col into ordinal data
#        AllPub	All public Utilities (E,G,W,& S) (4)
#        NoSewr	Electricity, Gas, and Water (Septic Tank) (3)
#        NoSeWa	Electricity and Gas Only (2)
#        ELO	Electricity only	(1)

utils_key = {'AllPub':4, 'NoSewr':3, 'NoSeWa':2, 'ELO':1, np.nan:0}
df['utilities'] = df['utilities'].map(utils_key)

df['utilities'].value_counts()

4    2049
2       1
3       1
Name: utilities, dtype: int64

In [14]:
#Fix Land Slope col into ordinal data
# Gtl	Gentle slope (0);       Mod	Moderate Slope	(1);       Sev	Severe Slope (2)

land_slope_key = {'Sev':2, 'Mod':1, 'Gtl':0, np.nan:0}
df['land_slope'] = df['land_slope'].map(land_slope_key)

df['land_slope'].value_counts()

0    1953
1      88
2      10
Name: land_slope, dtype: int64

In [15]:
#Fix Exter Qual col into ordinal data
# Ex	Excellent (5);        Gd	Good (4);       TA	Average/Typical (3);       Fa	Fair (2);       Po	Poor (1)

ext_qual_key = {'Ex':5, 'Gd':4, 'TA':3, 'Fa':2, 'Po':1, np.nan:0}
df['exter_qual'] = df['exter_qual'].map(ext_qual_key)

df['exter_qual'].value_counts()

3    1247
4     697
5      81
2      26
Name: exter_qual, dtype: int64

In [16]:
#Fix Exter Cond col into ordinal data
# Ex	Excellent (5);        Gd	Good (4);       TA	Average/Typical (3);       Fa	Fair (2);       Po	Poor (1)

ext_cond_key = {'Ex':5, 'Gd':4, 'TA':3, 'Fa':2, 'Po':1, np.nan:0}
df['exter_cond'] = df['exter_cond'].map(ext_cond_key)

df['exter_cond'].value_counts()

3    1778
4     215
2      49
5       7
1       2
Name: exter_cond, dtype: int64

In [17]:
#Fix Bsmt Qual col into ordinal data
# Ex	Excellent (100+ inches) (5);        Gd	Good (90-99 inches) (4);       TA	Typical (80-89 inches) (3);       
# Fa	Fair (70-79 inches) (2);       Po	Poor (<70 inches (1);    NA	No Basement (0)

bsmt_qual_key = {'Ex':5, 'Gd':4, 'TA':3, 'Fa':2, 'Po':1, 'NA':0, np.nan:0}
df['bsmt_qual'] = df['bsmt_qual'].map(bsmt_qual_key)

df['bsmt_qual'].value_counts()

3    887
4    864
5    184
2     60
0     55
1      1
Name: bsmt_qual, dtype: int64

In [18]:
#Fix Bsmt Cond col into ordinal data
# Ex	Excellent (5);        Gd	Good (4);       TA	Average/Typical (3);   Fa	Fair (2);    Po	Poor (1);    NA	No Basement (0)

bsmt_cond_key = {'Ex':5, 'Gd':4, 'TA':3, 'Fa':2, 'Po':1, 'NA':0, np.nan:0}
df['bsmt_cond'] = df['bsmt_cond'].map(bsmt_cond_key)

df['bsmt_cond'].value_counts()

3    1834
4      89
2      65
0      55
1       5
5       3
Name: bsmt_cond, dtype: int64

In [19]:
#Fix Bsmt Exposure col into ordinal data
# Gd	Good (4);       Av	Average Exposure (3);   Mn	Mimimum Exposure (2);    No	No Exposure (1);    NA	No Basement (0)

bsmt_exposure_key = {'Gd':4, 'Av':3, 'Mn':2, 'No':1, 'NA':0, np.nan:0}
df['bsmt_exposure'] = df['bsmt_exposure'].map(bsmt_exposure_key)

df['bsmt_exposure'].value_counts()

1    1339
3     288
4     203
2     163
0      58
Name: bsmt_exposure, dtype: int64

In [20]:
#Fix BsmtFin Type 1 col into ordinal data
#  GLQ	Good Living Quarters (6);       ALQ	Average Living Quarters (5);       BLQ	Below Average Living Quarters (4);
#  Rec	Average Rec Room (3);   LwQ	Low Quality (2);    Unf	Unfinshed (1);       NA	No Basement (0)

bsmtfin_type_1_key = {'GLQ':6, 'ALQ':5, 'BLQ':4, 'Rec':3, 'LwQ':2, 'Unf':1, 'NA':0, np.nan:0}
df['bsmtfin_type_1'] = df['bsmtfin_type_1'].map(bsmtfin_type_1_key)

df['bsmtfin_type_1'].value_counts()

6    615
1    603
5    293
4    200
3    183
2    102
0     55
Name: bsmtfin_type_1, dtype: int64

In [21]:
#Fix BsmtFin Type 2 col into ordinal data
#  GLQ	Good Living Quarters (6);       ALQ	Average Living Quarters (5);       BLQ	Below Average Living Quarters (4);
#  Rec	Average Rec Room (3);   LwQ	Low Quality (2);    Unf	Unfinshed (1);       NA	No Basement (0)

bsmtfin_type_2_key = {'GLQ':6, 'ALQ':5, 'BLQ':4, 'Rec':3, 'LwQ':2, 'Unf':1, 'NA':0, np.nan:0}
df['bsmtfin_type_2'] = df['bsmtfin_type_2'].map(bsmtfin_type_2_key)

df['bsmtfin_type_2'].value_counts()

1    1749
3      80
2      60
0      56
4      48
5      35
6      23
Name: bsmtfin_type_2, dtype: int64

In [22]:
#Fix Heating QC col into ordinal data
# Ex	Excellent (5);        Gd	Good (4);       TA	Average/Typical (3);   Fa	Fair (2);    Po	Poor (1)

heating_qc_key = {'Ex':5, 'Gd':4, 'TA':3, 'Fa':2, 'Po':1, np.nan:0}
df['heating_qc'] = df['heating_qc'].map(heating_qc_key)

df['heating_qc'].value_counts()

5    1065
3     597
4     319
2      67
1       3
Name: heating_qc, dtype: int64

In [23]:
#Fix Central Air col into 1/0
#        N	No (0);   Y	Yes (1)

central_air_key = {'Y':1, 'N':0, np.nan:0}
df['central_air'] = df['central_air'].map(central_air_key)

df['central_air'].value_counts()

1    1910
0     141
Name: central_air, dtype: int64

In [24]:
#Fix Electrical col into ordinal data
# SBrkr	Standard Circuit Breakers & Romex (4); FuseA	Fuse Box over 60 AMP and all Romex wiring (Average) (3);
# FuseF	60 AMP Fuse Box and mostly Romex wiring (Fair) (2); FuseP	60 AMP Fuse Box and mostly knob & tube wiring (poor) (1);
# Mix	Mixed (2) #!!!!

electrical_key = {'Ex':5, 'SBrkr':4, 'FuseA':3, 'FuseF':2, 'FuseP':1, 'Mix':2, np.nan:1}   # DIFFERENT THAN TYPICAL!
df['electrical'] = df['electrical'].map(electrical_key)

df['electrical'].value_counts()

4    1868
3     140
2      36
1       7
Name: electrical, dtype: int64

In [25]:
#Fix Kitchen Qual col into ordinal data
# Ex	Excellent (5);        Gd	Good (4);       TA	Average/Typical (3);   Fa	Fair (2);    Po	Poor (1)

kitchen_qual_key = {'Ex':5, 'Gd':4, 'TA':3, 'Fa':2, 'Po':1, np.nan:0}
df['kitchen_qual'] = df['kitchen_qual'].map(kitchen_qual_key)

df['kitchen_qual'].value_counts()

3    1047
4     806
5     151
2      47
Name: kitchen_qual, dtype: int64

In [26]:
#Fix Functional col into ordinal data
# Typ	Typical Functionality (7); Min1	Minor Deductions 1 (6); Min2	Minor Deductions 2 (5); Mod	Moderate Deductions (4);
# Maj1	Major Deductions 1 (3); Maj2	Major Deductions 2 (2);  Sev	Severely Damaged (1); Sal	Salvage only (0);

functional_key = {'Typ':7, 'Min1':6, 'Min2':5, 'Mod':4, 'Maj1':3, 'Maj2':2, 'Sev':1, 'Sal':0, np.nan:0}
df['functional'] = df['functional'].map(functional_key)

df['functional'].value_counts()

7    1915
5      42
6      42
4      29
3      12
2       7
1       2
0       2
Name: functional, dtype: int64

In [27]:
#Fix Fireplace Qu col into ordinal data
# Ex	Excellent - Exceptional Masonry Fireplace (5);        Gd	Good - Masonry Fireplace in main level (4);       
# TA	Average - Prefabricated Fireplace in main living area or Masonry Fireplace in basement (3);   
# Fa	Fair - Prefabricated Fireplace in basement (2);    Po	Poor - Ben Franklin Stove (1); NA	No Fireplace (0)

fireplace_qu_key = {'Ex':5, 'Gd':4, 'TA':3, 'Fa':2, 'Po':1, 'NA':0, np.nan:0}
df['fireplace_qu'] = df['fireplace_qu'].map(fireplace_qu_key)

df['fireplace_qu'].value_counts()

0    1000
4     523
3     407
2      59
1      31
5      31
Name: fireplace_qu, dtype: int64

In [28]:
#Fix Garage Finish col into ordinal data
# Fin	Finished (3);   RFn	Rough Finished (2);    Unf	Unfinished (1); NA	No Garage (0)

garage_finish_key = {'Fin':3, 'RFn':2, 'Unf':1, 'NA':0, np.nan:0}
df['garage_finish'] = df['garage_finish'].map(garage_finish_key)

df['garage_finish'].value_counts()

1    849
2    579
3    509
0    114
Name: garage_finish, dtype: int64

In [29]:
#Fix Garage Qual col into ordinal data
# Ex	Excellent (100+ inches) (5);        Gd	Good (90-99 inches) (4);       TA	Typical (80-89 inches) (3);       
# Fa	Fair (70-79 inches) (2);       Po	Poor (<70 inches (1);    NA	No Basement (0)

garage_qual_key = {'Ex':5, 'Gd':4, 'TA':3, 'Fa':2, 'Po':1, 'NA':0, np.nan:0}
df['garage_qual'] = df['garage_qual'].map(garage_qual_key)

df['garage_qual'].value_counts()

3    1832
0     114
2      82
4      18
5       3
1       2
Name: garage_qual, dtype: int64

In [30]:
#Fix Garage Cond col into ordinal data
# Ex	Excellent (5);        Gd	Good (4);       TA	Average/Typical (3);   Fa	Fair (2);    Po	Poor (1);    NA	No Basement (0)

garage_cond_key = {'Ex':5, 'Gd':4, 'TA':3, 'Fa':2, 'Po':1, 'NA':0, np.nan:0}
df['garage_cond'] = df['garage_cond'].map(garage_cond_key)

df['garage_cond'].value_counts()

3    1868
0     114
2      47
4      12
1       8
5       2
Name: garage_cond, dtype: int64

In [31]:
#Fix Paved Drive col into ordinal data
#        Y	Paved (2);        P	Partial Pavement (1);        N	Dirt/Gravel (0)

paved_drive_key = {'Y':2, 'P':1,'N':0, np.nan:0}
df['paved_drive'] = df['paved_drive'].map(paved_drive_key)

df['paved_drive'].value_counts()

2    1861
0     151
1      39
Name: paved_drive, dtype: int64

In [32]:
#Fix Pool Quality col into ordinal data

# Ex	Excellent (4);       Gd	Good (3);       TA	Average/Typical (2);       Fa	Fair (1);       NA	No Pool (0)

# df['pool_qc'].value_counts()
pool_qual_key = {'Ex':4, 'Gd':3, 'TA':2, 'Fa':1, 'NA':0, np.nan:0}
df['pool_qc'] = df['pool_qc'].map(pool_qual_key)

df['pool_qc'].value_counts()

0    2042
3       4
1       2
2       2
4       1
Name: pool_qc, dtype: int64

In [33]:
#Fix Fence col into ordinal data

# GdPrv	Good Privacy (4); MnPrv	Minimum Privacy (3); GdWo	Good Wood (2); MnWw	Minimum Wood/Wire (1); NA	No Fence (0)

fence_key = {'GdPrv':4, 'MnPrv':3, 'GdWo':2, 'MnWw':1, 'NA':0, np.nan:0}
df['fence'] = df['fence'].map(fence_key)

df['fence'].value_counts()

0    1651
3     227
4      83
2      80
1      10
Name: fence, dtype: int64

In [34]:
df.isna().sum().sort_values(ascending=False).head(10)

misc_feature      1986
alley             1911
lot_frontage       330
garage_yr_blt      114
garage_type        113
mas_vnr_type        22
mas_vnr_area        22
bsmt_full_bath       2
bsmt_half_bath       2
garage_cars          1
dtype: int64

In [35]:
df['alley'].value_counts()

Grvl    85
Pave    55
Name: alley, dtype: int64

In [36]:
df['bsmt_full_bath'].value_counts()

0.0    1200
1.0     824
2.0      23
3.0       2
Name: bsmt_full_bath, dtype: int64

### Setting NaN's to 0 (or other) for columns where applicable

In [37]:
# df[df['bsmt_full_bath'].isna()]
# df.iloc[616]['bsmt_full_bath']

In [38]:
df.loc[df['lot_frontage'].isna(),'lot_frontage'] = 0
df.loc[df['mas_vnr_area'].isna(),'mas_vnr_area'] = 0

df.loc[df['bsmtfin_sf_1'].isna(),'bsmtfin_sf_1'] = 0
df.loc[df['bsmtfin_sf_2'].isna(),'bsmtfin_sf_2'] = 0
df.loc[df['bsmt_unf_sf'].isna(),'bsmt_unf_sf'] = 0
df.loc[df['total_bsmt_sf'].isna(),'total_bsmt_sf'] = 0
df.loc[df['bsmt_full_bath'].isna(),'bsmt_full_bath'] = 0
df.loc[df['bsmt_half_bath'].isna(),'bsmt_half_bath'] = 0
df.loc[df['full_bath'].isna(),'full_bath'] = 0         #0 count already anyways
df.loc[df['half_bath'].isna(),'half_bath'] = 0         #0 count already anyways
df.loc[df['bedroom_abvgr'].isna(),'bedroom_abvgr'] = 0 #0 count already anyways
df.loc[df['kitchen_abvgr'].isna(),'kitchen_abvgr'] = 0 #0 count already anyways
df.loc[df['totrms_abvgrd'].isna(),'totrms_abvgrd'] = 0 #0 count already anyways
df.loc[df['fireplaces'].isna(),'fireplaces'] = 0       #0 count already anyways
df.loc[df['garage_cars'].isna(),'garage_cars'] = 0
df.loc[df['garage_area'].isna(),'garage_area'] = 0

# FIX ME!!!!

# FIX ME!!!!

In [39]:
#TBD how to handle NaN's
# 'garage_yr_blt', 'lot_frontage'
df.loc[df['garage_yr_blt'].isna(),'garage_yr_blt'] = 0

# FIX ME!!!!

# FIX ME!!!!

### Converting other categorical data cols into One-Hot Encoded cols

In [40]:
df.columns

Index(['id', 'ms_subclass', 'ms_zoning', 'lot_frontage', 'lot_area', 'street',
       'alley', 'lot_shape', 'land_contour', 'utilities', 'lot_config',
       'land_slope', 'neighborhood', 'condition_1', 'condition_2', 'bldg_type',
       'house_style', 'overall_qual', 'overall_cond', 'year_built',
       'year_remod/add', 'roof_style', 'roof_matl', 'exterior_1st',
       'exterior_2nd', 'mas_vnr_type', 'mas_vnr_area', 'exter_qual',
       'exter_cond', 'foundation', 'bsmt_qual', 'bsmt_cond', 'bsmt_exposure',
       'bsmtfin_type_1', 'bsmtfin_sf_1', 'bsmtfin_type_2', 'bsmtfin_sf_2',
       'bsmt_unf_sf', 'total_bsmt_sf', 'heating', 'heating_qc', 'central_air',
       'electrical', '1st_flr_sf', '2nd_flr_sf', 'low_qual_fin_sf',
       'gr_liv_area', 'bsmt_full_bath', 'bsmt_half_bath', 'full_bath',
       'half_bath', 'bedroom_abvgr', 'kitchen_abvgr', 'kitchen_qual',
       'totrms_abvgrd', 'functional', 'fireplaces', 'fireplace_qu',
       'garage_type', 'garage_yr_blt', 'garage_finish', 'garage_cars',
       'garage_area', 'garage_qual', 'garage_cond', 'paved_drive',
       'wood_deck_sf', 'open_porch_sf', 'enclosed_porch', '3ssn_porch',
       'screen_porch', 'pool_area', 'pool_qc', 'fence', 'misc_feature',
       'misc_val', 'mo_sold', 'yr_sold', 'sale_type', 'saleprice'],
      dtype='object')

In [41]:
# getdummies
dummy_cols = [
'ms_subclass',
'ms_zoning',
'street',
'land_contour',
'lot_config',
'neighborhood',
'condition_1',
'condition_2',
'bldg_type',
'house_style',
'roof_style',
'roof_matl',
'exterior_1st',
'exterior_2nd',
'foundation',
'heating',
'mo_sold',
'yr_sold',
'sale_type'
]

dummy_cols_w_nan = [
'alley',        # Has NaN's, don't drop first
'mas_vnr_type', # Has NaN's, don't drop first
'garage_type',  # Has NaN's, don't drop first
'misc_feature', # Has NaN's, don't drop first
]

# df2 = pd.get_dummies(df, columns = dummy_cols, drop_first=True)
# df3 = pd.get_dummies(df2, columns = dummy_cols_w_nan, drop_first=False)
# df = df3

# # Reference: https://stackoverflow.com/questions/21285380/find-column-whose-name-contains-a-specific-string
# # spike_cols = [col for col in df.columns if 'spike' in col]

# ms_subclass_cols = [col for col in df.columns if 'ms_subclass' in col]
# ms_zoning_cols = [col for col in df.columns if 'ms_zoning' in col]
# land_contour_cols = [col for col in df.columns if 'land_contour' in col]
# lot_config_cols = [col for col in df.columns if 'lot_config' in col]
# neighborhood_cols = [col for col in df.columns if 'neighborhood' in col]
# condition_1_cols = [col for col in df.columns if 'condition_1' in col]
# condition_2_cols = [col for col in df.columns if 'condition_2' in col]
# bldg_type_cols = [col for col in df.columns if 'bldg_type' in col]
# house_style_cols = [col for col in df.columns if 'house_style' in col]
# roof_style_cols = [col for col in df.columns if 'roof_style' in col]
# roof_matl_cols = [col for col in df.columns if 'roof_matl' in col]
# exterior_1st_cols = [col for col in df.columns if 'exterior_1st' in col]
# exterior_2nd_cols = [col for col in df.columns if 'foundation' in col]
# heating_cols = [col for col in df.columns if 'heating' in col]   #will pick up non-dummy col(s) also
# mo_sold_cols = [col for col in df.columns if 'mo_sold' in col]
# yr_sold_cols = [col for col in df.columns if 'yr_sold' in col]
# sale_type_cols = [col for col in df.columns if 'sale_type' in col]
# alley_cols = [col for col in df.columns if 'alley' in col]
# mas_vnr_type_cols = [col for col in df.columns if 'mas_vnr_type' in col]
# garage_type_cols = [col for col in df.columns if 'garage_type' in col]
# misc_feature_cols = [col for col in df.columns if 'misc_feature' in col]

In [42]:
# continuous

# lot_frontage
# lot_area
# bsmtfin_sf_1
# bsmtfin_sf_2
# bsmt_unf_sf
# total_bsmt_sf
# 2nd_flr_sf
# low_qual_fin_sf
# gr_liv_area
# garage_area
# wood_deck_sf


# 'open_porch_sf',
#        'enclosed_porch', '3ssn_porch', 'screen_porch', 'pool_area'
#     saleprice

In [43]:
df.shape

(2051, 80)

### Write intermediate cleaned dataset

In [44]:
if run_type == 1:
    df.to_csv(f'./datasets/ames_cleaned_{run_id_number}.csv',index=False)
else:
    df.to_csv(f'./datasets/test_cleaned_{run_id_number}.csv',index=False)

### Fitting a model

In [45]:
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression

In [46]:
# df.isna().sum().sort_values(ascending=False).head(10)

In [47]:
# df.columns

In [48]:
train = pd.read_csv(f'./datasets/ames_cleaned_{run_id_number}.csv')

In [49]:
contest = pd.read_csv(f'./datasets/test_cleaned_{run_id_number}.csv')

In [50]:
# Reference: 403-lesson-regularization

# Create X and y.
excluded_cols = ['id'] + dummy_cols + dummy_cols_w_nan

X = train.drop(columns=['saleprice']+excluded_cols)
y = train['saleprice']

# Instantiate our PolynomialFeatures object to create all two-way terms.
poly = PolynomialFeatures(degree=2, interaction_only=False, include_bias=False)

# Fit and transform our X data.
X_overfit = poly.fit_transform(X)

# Create train/test splits.
X_train, X_test, y_train, y_test = train_test_split(
    X_overfit, y, 
    test_size=.7, 
    random_state=42
)

# Scale our data.
# Relabeling scaled data as "Z" is common.
sc = StandardScaler()
Z_train = sc.fit_transform(X_train)
Z_test = sc.transform(X_test)


ols = LinearRegression()
ols.fit(Z_train, y_train)

ols.score(Z_train, y_train)

1.0

In [51]:
ols.score(Z_test, y_test)

-0.853058715058393

In [52]:
Z_train.shape

(615, 1595)

In [53]:
X_test.shape

(1436, 1595)

In [54]:
X_contest = contest.drop(columns=excluded_cols)
X_contest_overfit = poly.fit_transform(X_contest)
Z_contest = sc.transform(X_contest_overfit)

In [55]:
y_predict_overfit = ols.predict(Z_contest)

In [125]:
# Reference: 403-lesson-regularization

from sklearn.linear_model import Lasso, LassoCV

# Set up a list of Lasso alphas to check.
# l_alphas= np.logspace(-3, -1, 100)
l_alphas= np.logspace(3.895, 3.9, 50)

# Cross-validate over our list of Lasso alphas.
lasso_cv = LassoCV(alphas=l_alphas, cv=5)

In [126]:
# Fit model using best ridge alpha!
lasso_cv.fit(Z_train, y_train)

LassoCV(alphas=array([7852.3563461 , 7854.20153416, 7856.0471558 , 7857.89321114,
       7859.73970028, 7861.58662331, 7863.43398035, 7865.28177148,
       7867.12999682, 7868.97865647, 7870.82775052, 7872.67727908,
       7874.52724226, 7876.37764014, 7878.22847285, 7880.07974047,
       7881.93144312, 7883.78358088, 7885.63615388, 7887.48916219,
       7889.34260594, 7891.19648522, 7893.05080014, 7894.905...
       7896.76073728, 7898.61635971, 7900.47241819, 7902.32891281,
       7904.18584368, 7906.04321091, 7907.90101458, 7909.75925482,
       7911.61793171, 7913.47704536, 7915.33659588, 7917.19658337,
       7919.05700792, 7920.91786965, 7922.77916865, 7924.64090503,
       7926.5030789 , 7928.36569034, 7930.22873947, 7932.09222639,
       7933.9561512 , 7935.82051401, 7937.68531491, 7939.55055402,
       7941.41623143, 7943.28234724]),
        cv=5)

In [127]:
# Here is the optimal value of alpha
lasso_cv.alpha_

7889.342605943175

In [128]:
lasso_cv.score(Z_train, y_train)

0.8286975562763468

In [130]:
lasso_cv.score(Z_test, y_test)

0.8249861683228421

In [131]:
y_predict_lasso = lasso_cv.predict(Z_contest)

In [132]:
Xf = pd.DataFrame(contest['id'])
Xf['SalePrice'] = y_predict_lasso
Xf.columns = ['Id','SalePrice']
Xf.set_index('Id', inplace = True)
Xf.shape

(878, 1)

In [133]:
Xf.to_csv(f'./output/predictions_{run_id_number}.csv')

In [64]:
lr = LinearRegression()
np.mean(cross_val_score(lr, X, y, cv=5))

0.813511098481596

In [65]:
Xl_train, Xl_test, yl_train, yl_test = train_test_split(
    X, y, 
    test_size=.7, 
    random_state=42
)

lr.fit(Xl_train, yl_train)
lr.score(Xl_train, yl_train)

0.8512304137959873

In [66]:
lr.score(Xl_test, yl_test)

0.7814841337813869

In [67]:
# y_predict_lr = lr.predict(X_contest)